<!doctype html>
<html lang="en">
  <title>DDoS</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <div id="navbar_placeholder"></div>

  <br>
  <div class="container-fluid">
    <h1>What is a DDoS attack?</h1>
    <p>A Distributed Denial of Service (DDoS, not to be confused with DoS) attack is a DoS attack that uses many different, usually unwitting, computers. DDoS attacks can control other computers by exploting lapses in security, using malware, or pretending to be another computer (spoofing). These types of attacks often use botnets, a large number of computers all controlled by a single attacker. Most often the "bots" on the botnet are computers infected by malware.</p>

    <br>

    <h2>HTTP Flood</h2>
    <p>This is any of the flood attacks discussed in the <a href="/what-is-dos/buffer-overflow">buffer overflow section</a>, but using multiple computers.</p>

    <br>

    <h2>Smurf Attack</h2>
    <p>A smurf attack works by tricking other computers computer to contact the victim. The attacker pretends to be the victim and asks various computers to respond to "them" (pretending to be the victim). The other computers all respond, contacting the victim with a large volumn of responses, potentially crashing the service.</p>

    <br>

    <h2>DNS Amplification</h2>
    <p>DNS amplification attacks work by sending a small request to multiple DNS resolvers for large responses. When the attacker sends these requests, it pretends to be the victim. As a result, the DNS resolvers send their large responses to the victim, potentially consuming all of their download bandwidth and blocking out legitimate traffic.</p>
  </div>

</html>

<script>
  $(function() {
    $("#navbar_placeholder").load("{{ url_for('static', filename='html/navbar.html') }}")
  })
</script>