<!doctype html>
<html lang="en">
  <title>How to stop a Ping Flood</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <div id="navbar_placeholder"></div>

  <br>
  <div class="container-fluid">

  	<p>As we saw earlier</p>

    <div style="background-color: #F0F0F0" bgcolor="#F0F0F0">A ping flood (also known as a ICMP flood) is one of the simplest implementations of a buffer overflow attack. The attacker pings the victim as fast as possible without waiting for replies in the hope that the victim will be too busy responding to pings to respond to legitimate users. This attack only works if the victim is slower than the attacker (making them unable to respond fast enough) and the victim's server is configured to always reply to pings.</div>
    <br>
    <p>So if we want to stop ping flood attacks we can do one of three things.</p>

    <ul>
    	<li>Disable ICMP</li>
    	<p>Going with this option isn't the greatest because a good internet citizen should respond to ICMP requests. However if your website is constantly being taken down then this is a good option.</p>
    	<li>Have more Bandwidth</li>
    	<p>Since Ping attacks require that the attacker(s) have more bandwidth than you then if you simply have more bandwidth than them your website won't go down.</p>
    	<li>Hire someone like CloudFlare</li>
    	<p>This option is actually the same thing the previous option but what CloudFlare can do is handle all the ICMP for you. Meaning that if someone is trying to take down your website through a ping flood attack they need to take down CloudFlare which is really difficult.</p>
    </ul>

    


  </div>

</html>
<script>
  $(function() {
    $("#navbar_placeholder").load("{{ url_for('static', filename='html/navbar.html') }}")
  })
</script>